<ul>
  <% @categories.each do |category| %>
    <li><%= category.name %></li>
    <%= link_to "Delete", category_path(category),
   data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
  <% end %>
</ul>
